= form_with(model: book, local: true) do |form|
  - if book.errors.any?
    #error_explanation
      %h2
        = pluralize(book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - book.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :tittle , 'Tytuł'
    = form.text_field :tittle, id: :book_tittle, class: 'form-control'
  .form-group
    = form.label :author, "Autor"
    = form.text_area :author, id: :book_author, class: 'form-control'
  .form-group
    = form.label :category, "Kategoria"
    = form.text_area :category, id: :book_category, class: 'form-control'
    -unless @book.image_file_name.nil?
      =image_tag @book.image.url(:medium)
    .form-group
    = form.label :image, 'Obraz'
    = form.file_field :image, class: 'form-control'
  .form-group
  .actions
    = form.submit "Zatwierdź", class: "btn btn-primary pull-right btn-lg"