%h1 Edycja ksiązki

= render 'form', book: @book
         
= link_to 'Usuń'.html_safe, @book, method: :delete, data: { confirm: "Czy na pewno chcesz usunąć dokument '#{@book.tittle}'?" },:class => 'btn btn-danger btn-lg '
= link_to 'Podgląd', @book, class: 'btn btn-primary btn-lg ' 
= link_to 'Powrót', books_path, class: 'btn btn-primary btn-lg '
