%h1 Books

%table.table.table-striped.table-condensed#books_list
  %thead
    %tr
      %th.text-nowrap
        %span.glyphicon.glyphicon-sort
          Title
      %th.text-nowrap
        %span.glyphicon.glyphicon-sort
          Author
      %th.text-nowrap
        %span.glyphicon.glyphicon-sort
          Category
      %th
  %tbody
    - @books.each do |book|
      %tr
        %td.tittle.text-nowrap
          = link_to book_path(book) do
            = book.tittle
        %td.author.text-nowrap
          = book.author
        %td.category.text-nowrap
          = book.category
        %td.buttons_cell
          = link_to '<span class="glyphicon glyphicon-hand-right" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Zobacz"></span>'.html_safe, book, :class => 'btn-xs-action'
          -if current_user
            = link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Edytuj"></span>'.html_safe, edit_book_path(book), :class => 'btn-xs-action'
            -if book.is_borrowed == false
              = link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Wypożycz"></span>'.html_safe, borrow_book_path(book), :class => 'btn-xs-action-prompt'
            -if book.is_borrowed == true && book.borrow_by_id == current_user.id
              = link_to '<span class="glyphicon glyphicon-minus" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Zwróć"></span>'.html_safe, return_book_book_path(book), :class => 'btn-xs-action-danger'