.container
  .row
    .col-xs-12.col-md-4
      -unless @book.image_file_name.nil?
        =image_tag @book.image.url(:medium)
    .col-xs-12.col-md-8
      %h2
        %strong Tytuł:
        = @book.tittle
      %h3
        %strong Autor:
        = @book.author
      %h4
        %strong Kategoria:
        = @book.category
        
  .row
    .col-xs-12.pt-30
      %p.text-center
        -if @book.is_borrowed == false
          = link_to 'Wypożycz', borrow_book_path(@book), class: 'btn btn-warning btn-lg'
        - elsif @book.is_borrowed == true && @book.borrow_by_id == current_user.id
          = link_to 'Zwróć', return_book_book_path(@book), class: 'btn btn-warning btn-lg'
        - else
          Książka wypożyczona
        -if current_user  
          = link_to 'Edycja', edit_book_path(@book) , class: 'btn btn-primary btn-lg'
        = link_to 'Powrót', books_path, class: 'btn btn-primary btn-lg'