!!!
%html
  %head
    %title CompanyLibrary
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %body
      .wrapper
        / Sidebar Holder
        %nav#sidebar
          .sidebar-header
            %h3 Company Library
            -if current_user
              Zalogowano jako:
              %br
              %strong
                = current_user.name
              %br
              = link_to "Wyloguj", signout_path, id: "sign_out", class: 'btn btn-info pull-right'
          %ul.list-unstyled.components
            %li
              =link_to 'Home', root_path
            %li
              =link_to 'Książki', books_path
            %li
              %a{:href => "#"} O nas
              %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#pageSubmenu"} Pages
              %ul#pageSubmenu.collapse.list-unstyled
                %li
                  %a{:href => "#"} Page 1
                %li
                  %a{:href => "#"} Page 2
                %li
                  %a{:href => "#"} Page 3
            %li
              %a{:href => "#"} Contact
              %ul.list-unstyled.CTAs
            %li
              =link_to "Dodaj nową książkę", new_book_path, class: "btn btn-success"
          -if borrowed_books
            %h4 Twoje wypożyczone książki:
            %table.table.table-hover  
              -borrowed_books.each_with_index do |book,index|
                %tr
                  %td
                    =index + 1
                  %td
                    =book.tittle
                  %td
                    = link_to '<span class="glyphicon glyphicon-minus" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Zwróć"></span>'.html_safe, return_book_book_path(book), :class => 'btn-xs-action-danger'
            
                  
        / Page Content Holder
        #content
          %nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                %button#sidebarCollapse.btn.btn-info.navbar-btn{type: "button", onclick: "collapseSidebar()"}
                  %i.glyphicon.glyphicon-align-left
                  %span Toggle Sidebar
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar-right
                  %li
                    =link_to 'Home', root_path
                  %li
                    =link_to 'Książki', books_path
                  %li
                    %a{:href => "#"} O nas    
                  %li
                    %a{:href => "#"} Kontakt
            .container
              =yield